<div class="container">
  <div class="row ">
    <% @lists.each do |list| %>
      <div class="col-md-4">
        <div class="list-items" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/400x300/?movie,cinema)">
          <h5><%= link_to list.name, list %></h5>
        </div>
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="button-add">
  <%= link_to "Add a new list", new_list_path, class: "btn btn-flat"  %>
</div>

