// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.list-items {
  margin-top: 64px;
  display: flex;
  height: 33vh;
  justify-content: center;
  align-items: center;
  a {
  color: white;

  &:hover {
    opacity: 0.33;
    text-decoration: none;
    }
  }
}

.button-add {
  display: flex;
  height: 33vh;
  justify-content: center;
  align-items: center;
}
